<!DOCTYPE html>
<html>
<head>
    <title>Select Faculty</title>
</head>
<body>
    <h1>Select Faculty</h1>
    <form method="POST" action="{{ url_for('view_books.html') }}">
        <select name="faculty">
            <option value="FCI">Faculty of Information Technology (FCI)</option>
            <option value="FOE">Faculty of Engineering (FOE)</option>
            <option value="FCA">Faculty of Creative Multimedia (FCA)</option>
            <option value="FOM">Faculty of Management (FOM)</option>
        </select>
        <button type="submit">View Books</button>
    </form>
</body>
</html>
