<!DOCTYPE html>
<html>
<head>
    <title>MINI-IT</title>
    <link rel="icon" href="{{ url_for('static', filename='library.png') }}">
</head>
<body>
    
    <table width="100%">
        <tr>
            <td align="left">
                <img src="{{ url_for('static', filename='shdl.png') }}" alt="SHDL MMU" width="150" height="100">
            </td>
            <td align="center">
                <h1>SHDL MMU LIBRARY</h1>
            </td>
            <td align="right">
                <a href="{{ url_for('home') }}">HOME</a> | 
                <a href="#library-books">BOOKS</a> | 
                <a href="#contact-section">OTHER</a> |
                <a href="{{ url_for('login') }}">LOGIN</a> |
                <a href="{{ url_for('register') }}">REGISTER</a>
            </td>
        </tr>
    </table>
    
    <hr>
    
    <p><b>This project aims at developing the Library Management System where a user can login either as a student or a librarian. A student can view all the books or available books, sort the list of books, search a book using any parameters. A librarian can sort as well as search like a student, and also has the ability to Issue a book, Return a book or Add a new book to the list. Here adding of books is made easier with the help of Google Books API. The librarian can create student logins and issue library cards to them. A camera module is integrated to capture student pictures for the library card. There is a front-end (HomePage) where students can see all the books available in the library and decide whether to visit. A module is also available for logged-in students to request the librarian for books they need. The project includes SMS & email modules for reminders and a fines management page for the librarian.</b></p>
    
    <center>
        <img src="{{ url_for('static', filename='lib1.jpg') }}" alt="library" class="responsive" style="width:1000px; height:auto;">
    </center>
    <br>
    
    <hr>
    <center>
        <h2 id="library-books">OUR LIBRARY BOOKS</h2>
    </center>
    <h3>COMPUTER</h3>
    <table align="center" cellpadding="20">
        <tr>
            <td align="center">
                <img src="{{ url_for('static', filename='book1.jpg') }}" alt="COMPUTER FUNDAMENTALS" width="150" height="200"><br>
                <b>COMPUTER FUNDAMENTALS</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='book2.jpg') }}" alt="INTRODUCTION TO COMPUTERS" width="150" height="200"><br>
                <b>INTRODUCTION TO COMPUTERS</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='book3.jpg') }}" alt="COMPUTER ARCHITECTURE" width="150" height="200"><br>
                <b>COMPUTER ARCHITECTURE</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='book4.jpg') }}" alt="COMPUTER HARDWARE" width="150" height="200"><br>
                <b>COMPUTER HARDWARE</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='book5.jpg') }}" alt="COMPUTER BASICS" width="150" height="200"><br>
                <b>COMPUTER BASICS</b><br>
            </td>
        </tr>
    </table>
    
    <h3>ENGINEERING</h3>
    <table align="center" cellpadding="20">
        <tr>
            <td align="center">
                <img src="{{ url_for('static', filename='book6.jpg') }}" alt="ELECTRONIC ENGINEERING" width="150" height="200"><br>
                <b>ELECTRONIC ENGINEERING</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='book7.jpg') }}" alt="MECHANICAL ENGINEERING" width="150" height="200"><br>
                <b>MECHANICAL ENGINEERING</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='book8.jpg') }}" alt="ELECTRICAL ENGINEERING" width="150" height="200"><br>
                <b>ELECTRICAL ENGINEERING</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='book9.jpg') }}" alt="AEROSPACE ENGINEERING" width="150" height="200"><br>
                <b>AEROSPACE ENGINEERING</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='book10.jpg') }}" alt="CIVIL ENGINEERING" width="150" height="200"><br>
                <b>CIVIL ENGINEERING</b><br>
            </td>
        </tr>
    </table>

    <h3>MANAGEMENT</h3>
    <table align="center" cellpadding="20">
        <tr>
            <td align="center">
                <img src="{{ url_for('static', filename='bk12.jpg') }}" alt="INTRODUCTION TO MANAGEMENT" width="150" height="200"><br>
                <b>INTRODUCTION TO MANAGEMENT</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='bk13.jpg') }}" alt="MARKETING MANAGEMENT" width="150" height="200"><br>
                <b>MARKETING MANAGEMENT</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='bk14.jpg') }}" alt="FINANCIAL MANAGEMENT" width="150" height="200"><br>
                <b>FINANCIAL MANAGEMENT</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='bk15.jpg') }}" alt="OPERATIONS MANAGEMENT" width="150" height="200"><br>
                <b>OPERATIONS MANAGEMENT</b><br>
            </td>
        </tr>
    </table>
    

    <h3>COMMUNICATION & APPLICATION</h3>
    <table align="center" cellpadding="20">
        <tr>
            <td align="center">
                <img src="{{ url_for('static', filename='bk16.jpg') }}" alt="" width="150" height="200"><br>
                <b>INTRODUCTION TO COMMUNICATION</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='bk17.jpg') }}" alt="" width="150" height="200"><br>
                <b>INTRODUCTION TO APPLICATION</b><br>
            </td>
            <td align="center">
                <img src="{{ url_for('static', filename='bk18.jpg') }}" alt="" width="150" height="200"><br>
                <b>DIGITAL COMMUNICATION</b><br>
            </td>
            
        </tr>
    </table>

    <hr>
    <center>
        <h2 id="contact-section">GET IN TOUCH WITH US</h2>
    </center>
    
    <table width="100%">
        <tr>
            <td align="left" width="50%">
                <h2>SHDL MMU LIBRARY</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15938.444833872678!2d101.6416652!3d2.9275665!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb6e88b8bd7b5%3A0xaa996a4c4300b49a!2sSiti%20Hasmah%20Digital%20Library%20Multimedia%20University!5e0!3m2!1sen!2smy!4v1725903334474!5m2!1sen!2smy" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td align="left" width="50%">
                <h2>About us</h2>
                <p>We proudly serve MMU communities free services in term of educating library users whether academician, student, staff, or member of the public, on how to use the library and its services. The main purpose is to build user’s skills in accessing a variety of library resources available in the library and to guide users on how to use the resources and services provided by the library.</p>
                <h3>Contact Us</h3>
                <form>
                    <table>
                        <tr>
                            <td>Your Name:</td>
                            <td><input type="text" name="name" placeholder="Enter Name"></td>
                        </tr>
                        <tr>
                            <td>Email Address:</td>
                            <td><input type="email" name="email" placeholder="Enter Email"></td>
                        </tr>
                        <tr>
                            <td>Mobile No.:</td>
                            <td><input type="text" name="mobile" placeholder="Enter Mobile"></td>
                        </tr>
                        <tr>
                            <td>Message:</td>
                            <td><textarea name="message" placeholder="Enter Your Message"></textarea></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Send Message"></td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
