<!DOCTYPE html>
<html>
<head>
    <title>Request Books - SHDL MMU Library</title>
  
</head>
<body>
    <center><h1>REQUEST BOOKS</h1></center>
    <h1>Books in {{ faculty }}</h1>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <h2>{{ book.title }}</h2>
                    <p><strong>Author:</strong> {{ book.author }}</p>
                    <p><strong>Year:</strong> {{ book.year }}</p>
                    <p><strong>Description:</strong> {{ book.description }}</p>
                    <img src="{{ url_for('static', filename='images/' + book.image) }}" alt="{{ book.title }}" width="150">
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books available for this faculty.</p>
    {% endif %}

    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
</body>
</body>
</html>
